.schedules {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 1rem;
  padding: 1rem;
  background: #00304990;
  border: 1px solid #00d4ff;
  border-radius: 1.5rem;
}

.loading,
.error {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

.error {
  color: #ff4757;
}

.matchCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: #ffffff20;
  margin: 0.2rem 0;
  border: 1px solid #003049;
  transition: all 0.3s ease;
  height: 5vh;
}

.matchCard:hover {
  border-color: #00d4ff;
}

.matchDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}

.team {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
}

.teamLogo {
  object-fit: contain;
}

.teamName {
  text-align: center;
}

.vs {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
  flex-shrink: 0;
}
