.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.image {
  object-position: bottom;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.leftContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  width: 30vw;
  height: 88vh;
  padding: 1rem;
  background: #00304990;
}
.rightContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  width: 30vw;
  height: 88vh;
  padding: 1rem;
  background: #00304990;
}
