.headerContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 12vh;
  z-index: 100;
}

.headerTop {
  width: 100%;
  height: 4vh;
  background-color: #004aad;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6f1ff90;
  backdrop-filter: blur(8px);
  height: 8vh;
  width: 100%;
  border-bottom: 2px solid #004aad;
}

.logoOM {
  height: 7vh;
  margin-left: 2vh;
  color: #003049;
}

.logoLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logoLink:hover {
  transform: scale(1.05);
}
