.sectionAnchor {
  width: 100%;
}
.mainPage {
  min-height: 100vh;
  width: 100%;
}
.sectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}
.container {
  position: relative;
  width: 33.33%;
  min-height: 100vh;
  border-left: 3px solid #004aad;
  border-right: 3px solid #004aad;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  z-index: 1;
}
.container:hover .section {
  filter: blur(4px) brightness(0.7);
}
.title {
  position: relative;
  line-height: 8vh;
  height: 8vh;
  width: 100%;
  background-color: #e6f1ff90;
  backdrop-filter: blur(8px);
  color: #004aad;
  border-top: 3px solid #004aad;
  border-bottom: 3px solid #004aad;
  font-size: 2rem;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.container:hover .title {
  opacity: 1;
}

.topImage {
  position: relative;
  width: 100%;
  height: 33.33%;
}
.middleImage {
  position: relative;
  width: 100%;
  height: 33.33%;
}
.bottomImage {
  position: relative;
  width: 100%;
  height: 33.33%;
}
