.mainPage {
  position: relative;
  z-index: 2; /* au-dessus des autres éléments */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 100vh;
  background-color: #003049;
  box-shadow: inset -2.5rem 0 2rem rgba(0, 0, 0, 0.5);
}
.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
}
.logo {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border: 6px solid #2a556d;
  object-position: center;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.menuItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  color: #fdf0d5;
}

.top {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 5vh),
    calc(50% + 5vh) calc(100% - 5vh),
    50% 100%,
    calc(50% - 5vh) calc(100% - 5vh),
    0 calc(100% - 5vh)
  );
  margin-top: -0.085vh;
  width: 100%;
  height: 10vh;
  box-shadow: inset 0rem -4rem 1rem rgba(0, 0, 0, 0.5);
}
.bottom {
  clip-path: polygon(
    0 0,
    calc(50% - 0.41vh - 5vh) 0,
    50% calc(5vh + 0.41vh),
    calc(50% + 0.41vh + 5vh) 0,
    100% 0,
    100% 100%,
    0 100%
  );
  margin-top: -4vh;
  width: 100%;
  height: 10vh;
  box-shadow: inset 0rem 2rem 1rem rgba(0, 0, 0, 0.5);
}
.bottom1 {
  margin-top: 0vh;
}
.duo1 {
  background-color: #6a040f;
  transition: all 0.3s ease-in-out;
}
.duoContainer1 {
  position: relative;
  z-index: 1;
}
.duoContainer1:hover .top,
.duoContainer1:hover .bottom {
  background-color: #9d0208;
  box-shadow: none;
}
.duo2 {
  background-color: #d00000;
  transition: all 0.3s ease-in-out;
}
.duoContainer2 {
  position: relative;
  z-index: 1;
}
.duoContainer2:hover .top,
.duoContainer2:hover .bottom {
  background-color: #dc2f02;
  box-shadow: none;
}

.duo3 {
  background-color: #e85d04;
  transition: all 0.3s ease-in-out;
}
.duoContainer3 {
  position: relative;
  z-index: 1;
}
.duoContainer3:hover .top,
.duoContainer3:hover .bottom {
  background-color: #f48c06;
  box-shadow: none;
}
.duo4 {
  background-color: #faa307;
  transition: all 0.3s ease-in-out;
}
.duoContainer4 {
  position: relative;
  z-index: 1;
}
.duoContainer4:hover .top,
.duoContainer4:hover .bottom {
  background-color: #ffba08;
  box-shadow: none;
}
.menuText {
  margin-top: -20vh;
  padding-top: 2.5vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  color: #ffffff00;
  -webkit-text-stroke-width: 0.05px;
  -webkit-text-stroke-color: #ffffff00;
  font-size: 4rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: dashed underline;
}
.menuText:hover {
  color: #003049;
  -webkit-text-stroke-width: 0.05px;
  -webkit-text-stroke-color: #0000003b;
}
.content {
  width: 84vw;
  height: 100vh;
  border-left: 1px solid #fdf0d5;
  background-color: #000000;
}
