.mainPage {
  height: 100vh;
  width: 100%;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
.leftSection {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}
.leftSection:hover {
  filter: blur(4px) brightness(0.7);
}
.topImage {
  position: relative;
  width: 100%;
  height: 33.33%;
}
.middleImage {
  position: relative;
  width: 100%;
  height: 33.33%;
}
.bottomImage {
  position: relative;
  width: 100%;
  height: 33.33%;
}
.centerSection {
  position: relative;
  width: 33.33%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.centerSection:hover {
  filter: blur(4px) brightness(0.7);
}
.rightSection {
  position: relative;
  width: 33.33%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.rightSection:hover {
  filter: blur(4px) brightness(0.7);
}
