.mainPage {
  height: 100vh;
  width: 100%;
}
.sectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
.container {
  position: relative;
  width: 33.33%;
  height: 100vh;
  border-left: 3px solid #004aad;
  border-right: 3px solid #004aad;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  z-index: 1;
}
.container:hover .section {
  filter: blur(4px) brightness(0.7);
}
.title {
  position: relative;
  line-height: 8vh;
  height: 8vh;
  width: 100%;
  background-color: #e6f1ff90;
  backdrop-filter: blur(8px);
  color: #004aad;
  border-top: 3px solid #004aad;
  border-bottom: 3px solid #004aad;
  font-size: 2rem;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.container:hover .title {
  opacity: 1;
}

.topImage {
  position: relative;
  width: 100%;
  height: 33.33%;
}
.middleImage {
  position: relative;
  width: 100%;
  height: 33.33%;
}
.bottomImage {
  position: relative;
  width: 100%;
  height: 33.33%;
}

.apropos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 88vh;
  background-color: #004aad;
  font-size: 1.5rem;
}
.aproposContent {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: skewX(-15deg);
  background: #e6f1ff;
  padding: 2vh 2vw;
}
.aproposHeadContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.aproposTitle {
  height: 8vh;
  width: 34.5%;
  text-align: center;
  line-height: 8vh;
  color: #e6f1ff;
  font-size: 3rem;
  font-weight: bold;
  background-color: #004aad;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 2px 2px 4px #000000;
}
.aproposDescription {
  height: 8vh;
  width: 64.5%;
  padding: 0.5vh 1vw;
  color: #e6f1ff;
  text-align: justify;
  font-size: 1.32rem;
  line-height: 1.32rem;
  font-weight: 600;
  background-color: #004aad;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 2px 2px 4px #000000;
}
.aproposDetails {
  height: 74vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.separatorLine {
  height: 1vh;
  width: 100%;
  background-color: #004aad;
  box-shadow: 2px 2px 4px #000000;
  margin-bottom: 2vh;
}
.aproposCompetences {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #004aad;
  box-shadow: 2px 2px 4px #000000;
  padding: 1vh 2vw;
  margin-bottom: 2vh;
}

.aproposCompetencesTitle {
  color: #e6f1ff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vh;
  text-shadow: 2px 2px 4px #000000;
}

.competencesLogos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
}

.logoItem {
  width: 13.5vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2vh 1vw;
  background-color: #00071090;
  backdrop-filter: blur(8px);
  box-shadow: inset 2px 2px 4px #000000;
  transition: all 0.3s ease-in-out;
}
.logoItem:hover {
  background-color: #2e425cc0;
}
.logoItemImage {
  height: 5vh;
  width: 3vw;
  object-fit: contain;
}
.logoItemText {
  height: 4vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.logoItemTitle {
  color: #e6f1ff;
  font-size: 1.3rem;
}
.logoItemDescription {
  color: #e6f1ff;
  font-size: 0.8rem;
}
.aproposHobbies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #004aad;
  box-shadow: 2px 2px 4px #000000;
  height: 16vh;
}

.aproposHobbiesImage {
  position: relative;
  width: 33%;
  height: 90%;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aproposHobbiesDescription {
  width: 100%;
  height: 100%;
  color: #e6f1ff;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px #000000;
  padding: 1vh 1vw;
  text-align: justify;
  opacity: 0;
  z-index: 2;
  backdrop-filter: blur(1px) brightness(0.3);
  transition: all 0.3s ease-in-out;
}
.aproposHobbiesImage:hover .aproposHobbiesDescription {
  opacity: 1;
}
